<h2>Административная панель</h2>

<a asp-action="ChooseGrade">Изменить расписание</a>
<a asp-action="UploadTimetable">Загрузить новое расписание</a>
<a asp-action="DeleteTimetable">Удалить расписание</a>
