@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Выберите класс</title>
</head>
<body>
    <div>
        <h2>Выберите класс</h2>
        <form method="get" action="Timetable">
            <button type="submit" name="grade" value="5">5 класс</button>
            <button type="submit" name="grade" value="6">6 класс</button>
            <button type="submit" name="grade" value="7">7 класс</button>
            <button type="submit" name="grade" value="8">8 класс</button>
            <button type="submit" name="grade" value="9">9 класс</button>
            <button type="submit" name="grade" value="10">10 класс</button>
            <button type="submit" name="grade" value="11">11 класс</button>
        </form>
    </div>
</body>
</html>
